.navContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 20px;
  background-color: rgba(28, 28, 28, 0.9);
  box-sizing: border-box;
  z-index: 2;
}

.navRightButtonsWrapper {
  display: none;
}

.basisButton {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.5s ease;
}

.nonSelectedButton {
  color: #969696;
}

.selectedButton {
  color: white;
}

.basisButton:hover {
  color: white;
}

.ticketWrapper {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .navContainer {
    padding: 7px 71px;
  }

  .ticketWrapper {
    display: none;
  }

  .navRightButtonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
