@media only screen and (min-width: 768px) {
  .cardsContainer {
    width: 80%;
    height: fit-content;
    align-self: center;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
}
