.image {
  width: 79%;
  height: 25em;
  background-position: center;
  background-size: cover;
}

.movieAndBuyContainer h1 {
  text-align: center;
  font-weight: 400;
  color: white;
}

.slick-prev,
.slick-next {
  width: fit-content !important;
  height: fit-content !important;
  transform: translateY(-120px) !important;
}

.slick-prev::before,
.slick-next::before {
  font-family: "Inter", sans-serif !important;
  font-size: 50px !important;
}

.slick-next:before {
  content: ">" !important;
}

.slick-prev:before {
  content: "<" !important;
}

.slick-list {
  margin-inline: 30px !important;
}

.cardContainer {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 8px;
}

.movieInfo {
  display: none;
}

.buttonsContainer {
  display: flex;
  margin-top: 40px;
  align-self: center;
  justify-content: center;
  gap: 51px;
}

@media only screen and (min-width: 768px) {
  .sliderContainer {
    padding-inline: 5em;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .cardContainer > h1,
  .cardContainer h1 {
    display: none;
  }

  .image {
    width: 24%;
    height: 35em;
    margin-left: 6em;
  }

  .movieAndBuyContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 6em;
    gap: 30px;
  }

  .movieInfo {
    display: inline-block;
    height: 23em;
    margin-top: 2rem;
    padding-inline: 2.2em;
    background-color: #d9d9d9;
    opacity: 0.6;
    border: 5px solid var(--purple);
    border-left: none;
    border-radius: 0 6px 6px 0;
  }

  .cardContainer h1 {
    font-size: 42px;
    font-weight: lighter;
  }

  .movieInfo h1 {
    display: inline-block;
    margin-bottom: 20px;
    text-align: start;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 300;
    font-size: clamp(24px, 4vw, 69px);
  }

  .slick-prev,
  .slick-next {
    transform: translateY(0px) !important;
  }

  .buttonsContainer {
    margin-top: 0;
    margin-right: 40px;
  }
}
