.transparentButton {
  color: white;
  transition: border-color 0.5s ease;
}

.confirmButton {
  background-color: var(--dark-gray);
  width: 237px;
  height: 60px;
  border: 3px solid var(--purple);
  border-radius: 6px;
  cursor: pointer;
}

.transparentButton:hover {
  border-color: #a8a3d8;
}

.greenButton {
  background-color: #91c870;
  color: transparent;
}

.borderNoneButton {
  color: #a9a9a9;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease;
}

.borderNoneButton:hover {
  color: white;
}

.button {
  font-size: 18px;
}
