.confirmButton {
  width: 237px;
  height: 60px;
  border: 3px solid var(--purple);
  border-radius: 6px;
  cursor: pointer;
}

.transparentButton {
  color: white;
  background-color: var(--dark-gray);
  transition: border-color 0.5s ease;
}

.transparentButton:hover {
  border-color: var(--light-purple);
}

.purpleButton {
  display: none;
}

.greenButton {
  background-color: #91c870;
  color: var(--dark-gray);
  transition: background-color 0.5s ease;
}

.greenButton:hover {
  background-color: #5a8d48;
  color: #ffffff;
}

.greenButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.borderNoneButton {
  color: #a9a9a9;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease;
}

.borderNoneButton:hover {
  color: white;
}

.button {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .purpleButton {
    display: inline-block;
    height: 100%;
    padding: 12px 40px;
    font-weight: lighter;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--purple);
    border: none;
    color: white;
    transition: background-color 0.5s ease;
  }

  .purpleButton:hover {
    background-color: #403880;
  }
}
