.purchaseContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-gray);
  gap: 20px;
  padding-block: 4em;
  z-index: 1;
  padding-inline: 6%;
}

.purchaseContainer .successTitle {
  display: inline-block;
  order: 1;
  text-align: center;
}

.successWrapper {
  align-items: center;
}

.purchaseContainer > div:first-child {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.purchaseContainer > div > h1,
.purchaseContainer > div > h2 {
  width: fit-content;
  margin-top: 0;
}

.purchaseContainer > div > h1 {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: bold;
}

.purchaseContainer > div > h2 {
  margin-bottom: 8px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.purchaseContainer > div:first-child h2.successSubtitle {
  order: 0;
  color: #8d8d8d;
  font-weight: bold;
}

.bucketImg {
  display: none;
}

.popcornImg {
  display: none;
}

.mobilePopcornImg {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .purchaseContainer {
    padding-inline: 3%;
  }

  .mobilePopcornImg {
    display: none;
  }

  .popcornImg {
    position: absolute;
    display: inline-block;
    right: 0;
    z-index: -1;
  }

  .bucketImg {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .purchaseContainer > div:first-child {
    margin-top: auto;
  }
}
