:root {
  --purple: #554f95;
  --light-purple: #a8a3d8;
  --dark-gray: #282828;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
