:root {
  --purple: #554f95;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}
